@media (max-width: $bigLayoutMinPixel - 1) and (min-width: $phoneLayoutMaxPixel)
{
    .projectview
    {
        width: 100vw;
        height: 150vh;
    }

    #navigation
    {
        width: 300px;
        height: 100vh;
        position: fixed;
        right: 0;
    }

    $contentWidth: 50vw;
    $topContentMaxWidth: 400px;
    $bottomContentMaxWidth: 800px;
    .upperPart
    {
        // width: calc(100vw - 40%);
        // padding-right: 20%;
        // padding-left: 20%;
        margin-left: auto;
        margin-right: auto;
        width: $contentWidth;
        max-width: $topContentMaxWidth;
        min-width: 300px;
        flex-direction: row;
        // height: 55vh;
        overflow: hidden;
    }

    .lowerPart
    {
        // height: 45vh;
        width: 100%;
        max-width: $bottomContentMaxWidth;
        margin-left: auto;
        margin-right: auto;
    }
    
    .titleContainer
    {
        width: 100%;
        order: 1;
        margin-top: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .mainImageContainer
    {
        // height: auto;
        width: 100%;
        order: 2;
        // width: 75vw;
        height: calc(#{$contentWidth} / (16/9));
        max-height: calc(#{$topContentMaxWidth} / (16/9));
    }
    
    .descriptionContainer
    {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        order: 3;
    }

    .additionalInfo
    {
        display: none;
    }

    .challanges
    {
        grid-column-start: span 2;
        grid-column-end: unset;
        grid-row-start: span 1;
        grid-row-end: unset;
    }

    .media
    {
        grid-column-start: span 2;
        grid-column-end: unset;
        grid-row-start: span 1;
        grid-row-end: unset;
    }
}