$bigLayoutMinPixel: 1400px;
$minheight: 500px;
$paddingLeft: 20px;
$paddingRight: 20px;

@font-face
{
    font-family: 'Merriweather';
    src: url("assets/Merriweather-Regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

body
{
    width: 100vw;
    height: 100vh;
    font-size: 11pt;
    min-height: $minheight;
    font-family: Merriweather, serif;
    font-size: 11px;
    line-height: 1.2;
    overflow-x: hidden;
}

.projectview
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - 20px);
    margin-bottom: 20px;
}

#navigation
{
    width: 300px;
    height: 100%;
    background-color: rgba($color: #FF0000, $alpha: .5);
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.upperPart
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
}

.lowerPart
{
    height: 50%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}

.challanges
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    
    padding-left: $paddingLeft;
    padding-right: $paddingRight;

    div
    {
        margin-top: 30px;
    }
}

.mainImageContainer
{
    height: 100%;
    width: 50%;
    background-position: center;
    background-size: cover;
}

.smallImageContainer
{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.titleContainer
{
    margin-top: auto;
    margin-bottom: 10px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    width: calc(50% - 40px); // has to be done manually for now

    span
    {
        display: block
    }
}

.descriptionContainer
{
    width: calc(50% - 40px); // has to be done manually for now
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
}

.projecttitle
{
    font-size: 24px;
}

.minititle
{
    font-size: 13px;
}

.challangeEntry
{
    display: block;
    margin-left: 10px;
}

.media
{
    margin-left: 20px;
    margin-top: 20px;
}

@import "smallScreen.scss";
@import "bigScreen.scss";