$bigLayoutMinPixel: 1400px;

body
{
    width: 100vw;
    height: 100vh;
    font-size: 11pt;
}

.projectview
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}

#navigation
{
    width: 400px;
    height: 100vh;
    background-color: rgba($color: #FF0000, $alpha: .5);
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.upperPart
{
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
}

.lowerPart
{
    height: 50vh;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}

.challanges
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.mainImageContainer
{
    height: 100%;
    width: 50%;
    background-color: cornflowerblue;
}


.titleContainer
{
    margin-top: auto;
    height: 50px;
    width: 50%;
    // align-self: flex-end;
    background-color: chocolate;
}


.descriptionContainer
{
    width: 50%;
    // align-self: flex-end;
    background-color: cornsilk;
}

@import "smallScreen.scss";
@import "bigScreen.scss";