$bigLayoutMinPixel: 1200px;

@media (max-width: $bigLayoutMinPixel - 1)
{
    .projectview
    {
        width: 100vw;
        height: 100vh;
    }

    #navigation
    {
        width: 400px;
        height: 100vh;
        position: absolute;
        // right: 0px;
        left: 100vw;
        background-color: cadetblue;
    }

    .gridsystem
    {
        grid-template-columns: 18% 1fr 1fr 18%;
        grid-template-rows: 25% 25% 1fr 1fr;
        grid-template-areas: 
            " . maincontent maincontent . "
            " . maincontent maincontent . "
            "media1 media1 media2 media2"
            "media3 media3 challange challange";
    }

    .titleContainer
    {
        grid-area: maincontent;
    }

    .mainImageContainer
    {
        grid-area: maincontent;
    }

    .descriptionContainer
    {
        grid-area: maincontent;
    }
}

@media (min-width: $bigLayoutMinPixel)
{
    .projectview
    {
        width: calc(100vw - 400px);
        height: 100vh;
    }

    #navigation
    {
        width: 400px;
        height: 100vh;
        position: relative;
        background-color: red;
    }

    .gridsystem
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "mainimg mainimg maincontent maincontent"
            "mainimg mainimg maincontent maincontent"
            "media1 media2 challange challange"
            "media3 additional challange challange";
    }

    .titleContainer
    {
        grid-area: maincontent;
    }

    .mainImageContainer
    {
        grid-area: mainimg;
    }

    .descriptionContainer
    {
        grid-area: challange;
    }
}


.projectview
{
    // display:inline-block;
    float: left;
}

#navigation
{
    // display:inline-block;
    float: left;
}

.gridsystem
{
    display: grid;
    width: 100%;
    height: 100%;
}

.titleContainer
{
    background-color: chocolate;
    justify-self: stretch;
}

.mainImageContainer
{
    background-color: cornflowerblue;
    justify-self: stretch;
}

.descriptionContainer
{
    background-color: cornsilk;
    justify-self: stretch;
}